!!!
%html
%head
  %title FileBase | All your files are belong to us
  = csrf_meta_tags
  = csp_meta_tag
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
  = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
%body
  %header
    .header_inner
      = link_to 'FileBase', root_path, id: "logo"

      = render 'shared/nav'

  = js add_gritter(flash[:notice], title: "FileBase Notification", sticky: false, time: 1500)
  = yield
